input[type="text"]:focus {
  outline: 0;
}
.container{
  display: flex;
  height: 100vh;
}
.left{
  width: 17vw;
  background-color: #303030;
  text-align: center;
  color: #eee;
}
.chat{
  flex: 1;
}
.logosec,
.usersec,
.searchsec{
  margin-bottom: 30px;
}
.usersec{
  margin-bottom: 80px;
}
#sitelogo{
  width:60%;
  max-width: 100%;
  margin-top: 20px;
  height: auto;
}
#searchbox{
  border-radius: 8px;
  padding: 5px;
  border-color: rgba(0,0,0,0);
  width: 80%;
}
.left > .usersec{
  display:flex;
  align-items: center;
}
.userimage{
  width:40%;
  max-width: 100%;
}
.usersecleft{
  flex-basis: 45%;
}
.usersecright{
  text-align: left;
  flex-basis: 55%;
  font-size: 1.2rem;
  font-weight: bold;
}
.friendlist{
  display: flex;
  align-items: center;
  padding: 20px;
}
.friendleft{
  flex-basis: 40%;
}
.friendright{
  flex-basis: 60%;
  text-align: left;
}
.bold{
  font-weight: bold;
  margin-bottom: 8px;
}
.lastmessage{
  font-size: 0.8rem;
}
.friendlist:hover{
  background-color: rgba(238, 238, 238, 0.500);
  border-radius: 20px;
  cursor: pointer;
}

/* chat */
.chat{
  display: flex;
  flex-direction: column;
}
.chattopsec{
  background-color: #303030;
  flex-basis: 10%; 
  display: flex;
  align-items: center;
  color: #eee;
}
.chatsec{
  flex-basis: 80%;
  padding: 10px;
  overflow: scroll;
}

/* chat top section */
.targetimage{
  width:3rem;
  max-width: 100%;
  height: auto;
  margin-left: 1rem;
}
.targetname{
  margin-left: 1.2rem;
}

/* message */
.targetcomment {
  display: inline-block;
  position: relative; 
  margin: 10px 0 0 30px;
  padding: 1rem;
  max-width: 250px;
  border-radius: 15px;
  background: #e7e5e5;
}
.targetcomment:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #e7e5e5;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.targetcomment p {
  margin: 0;
  padding: 0;
}
.mycomment {
  margin: 10px 0;
  text-align: right;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 30px 0 0;
  padding: 1rem;
  border-radius: 15px;
  background: #56d346;
  color: #eee;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #56d346;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

/* input section */
.inputsec{
  display: flex;
  flex-basis: 10%; 
  align-items: center;
}
#inputbox{
  border-radius: 15px;
  padding: 8px;
  border-color: rgb(0, 0, 0);
  width: 70%;
  margin-left: 4rem;
}
#senticon{
  width:15%;
  margin-left: 1rem;
  max-width: 100%;
  height: auto;
}